/* what I do section css */

.what-i-do-parent{
    margin: 60px auto;
    text-align: center;

}
.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.what-i-do-card-container .what-i-do-card{
    border: 2px solid #f1ddd0;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}
.what-i-do-card-container .what-i-do-card h2{
    margin: 10px 0px;

}

.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px

}